@model QuanLyGiangDay.Models.EF.MonHoc

@* model header *@
<div class="modal-header">
    <h5 class="modal-title">Chi tiết lớp học</h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
    </button>
</div>
<div class="modal-body">
    <div>
        <table cellspacing="10" cellpadding="10">
            <tr>
                <td>
                    Tên môn học :
                </td>

                <td>
                    @Html.DisplayFor(model => model.TenMon)
                </td>
            </tr>
            <tr>
                <td>
                    Mô tả :
                </td>
                <td>
                    @Html.DisplayFor(model => model.MoTa)
                </td>
            </tr>
            <tr>
                <td>
                    Số giờ :
                </td>

                <td>
                    @Html.DisplayFor(model => model.SoGio)
                </td>
            </tr>




           

        </table>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-default btn-secondary" data-dismiss="modal">Đóng</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
