
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><i class="fa fa-angle-right"></i> Phân Công Giảng Dạy</h4></div>
        <div class="panel-body">
            <div class="float-left" style="padding-bottom: 10px; padding-left: 30px; margin-top: 10px; z-index: 99; position: relative;">
                <div>
                    <button type="button" class="btn-sm btn-outline-primary" onclick="getNewPhanCongGd()" style="margin-right: 0px !important">
                        <span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Phân công
                    </button>&nbsp;
                    <button type="button" class="btn-sm btn-outline-success" onclick="getLichGiangDay()" style="margin-left: 0px !important; margin-right: 0px !important">
                        <span class="fa fa-calendar"></span>&nbsp;&nbsp;Xem Lịch giảng dạy
                    </button>&nbsp;
                    <button type="button" class="btn-sm btn-outline-danger" onclick="getBaoCaoPdf()" style="margin-left: 0px !important; margin-right: 0px !important">
                        <span class="fa fa-chart-line"></span>&nbsp;&nbsp;Xuất bảng phân công (Pdf)
                    </button>&nbsp;
                    <button type="button" class="btn-sm btn-outline-info" onclick="getBaoCaoExcel()" style="margin-left: 0px !important">
                        <span class="fa fa-chart-line"></span>&nbsp;&nbsp;Xuất báo cáo (Excel)
                    </button>&nbsp;
                </div>
            </div>
            <div class="float-left" style="margin-left: 30px; z-index: 99; position: relative; margin-top: 5px">
                <div class="input-group">
                    <input type="text" id="txtLopHoc" class="form-control" placeholder="Lớp..." aria-label="Search" aria-describedby="basic-addon2">
                    <input type="text" id="txtMonHoc" class="form-control" placeholder="Môn học..." aria-label="Search" aria-describedby="basic-addon2">
                    <input type="text" id="txtGioHoc" class="form-control" placeholder="Giờ học..." aria-label="Search" aria-describedby="basic-addon2">
                    <input type="text" id="dateTuNgay" class="form-control datepicker" placeholder="Từ Ngày..." aria-label="Search" aria-describedby="basic-addon2">
                    <input type="text" id="dateDenNgay" class="form-control datepicker" placeholder="Đến Ngày..." aria-label="Search" aria-describedby="basic-addon2">
                    <label for="" class="form-control">
                        Ngoài giờ
                        <input type="checkbox" id="cbxNgoaiGio" aria-label="Search" aria-describedby="basic-addon2" style="margin-left: 4px;margin-top: 5px;">
                    </label>
                    <label for="" class="form-control">
                        Tất cả
                        <input type="checkbox" id="cbxTatCa" aria-label="Search" aria-describedby="basic-addon2" style="margin-left: 4px;margin-top: 5px;">
                    </label>
                    <div class="input-group-append" style="margin: 0px">
                        <button class="btn-primary" type="button" style="width: 41px" onclick="searchData()">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="danhSachGridView" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Mã lớp</th>
                                    <th>Môn học</th>
                                    <th>Giờ học</th>
                                    <th>Mô tả</th>
                                    <th>Ngày bắt đầu</th>
                                    <th>Ngày kết thúc</th>
                                    <th>Là ngoài giờ</th>
                                    <th>Giáo viên</th>
                                    <th>Cập nhật</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="phanCongGDModal" aria-labelledby="phanCongGDModalLebel" aria-hidden="true">
    <div class="modal-dialog" style="overflow-y: initial !important" role="document">
        <div class="modal-content" id="phanCongGDModalBody">

        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="messageModal" aria-labelledby="messageLebel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="messageBody">
            <div class="modal-header" style="background-color: #4e73df">
                <h4 class="modal-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div class="modal-body">
                <span id="lblMessage"></span>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
            $("#cbxTatCa").change(function () {
                var tatCa = $('#cbxTatCa').is(":checked") ? "T" : "F";
                if (tatCa == "T")
                    $("#cbxNgoaiGio").prop("checked", false);
            });
            PhanCongGDDatatable("", "", "", "", "", "");
        });

        function getLichGiangDay() {
            var actionUrl = '@Url.Action("Index", "LichGiangDay")';
            window.open(actionUrl, '_blank', 'location=yes,height=1000,width=900,scrollbars=yes,status=yes');
        }

        function getBaoCaoPdf() {
            changLoading(true);
            var lopHoc = $("#txtLopHoc").val() != "" && $("#txtLopHoc").val() != null ? $("#txtLopHoc").val().trim() : $("#txtLopHoc").val();
            var monHoc = $("#txtMonHoc").val() != "" && $("#txtMonHoc").val() != null ? $("#txtMonHoc").val().trim() : $("#txtMonHoc").val();
            var gioHoc = $("#txtGioHoc").val() != "" && $("#txtGioHoc").val() != null ? $("#txtGioHoc").val().trim() : $("#txtGioHoc").val();
            var tuNgay = $("#dateTuNgay").val() != "" ? $("#dateTuNgay").val().trim() : $("#dateTuNgay").val();
            var denNgay = $("#dateDenNgay").val() != "" ? $("#dateDenNgay").val().trim() : $("#dateDenNgay").val();
            var ngoaiGio = $('#cbxNgoaiGio').is(":checked") ? "T" : "";
            var tatCa = $('#cbxTatCa').is(":checked") ? "T" : "F";
            setTimeout(hideLoading, 3500);
            var actionUrl = '@Url.Action("PrintPDF", "PhanCongGD")?lopHoc=' + lopHoc + '&monHoc=' + monHoc + '&gioHoc=' + gioHoc
                            + '&tuNgay=' + tuNgay + '&denNgay=' + denNgay + '&ngoaiGio=' + ngoaiGio + '&tatCa=' + tatCa;
            window.location.href = actionUrl;
        }

        function getBaoCaoExcel() {
           changLoading(true);
            var lopHoc = $("#txtLopHoc").val() != "" && $("#txtLopHoc").val() != null ? $("#txtLopHoc").val().trim() : $("#txtLopHoc").val();
            var monHoc = $("#txtMonHoc").val() != "" && $("#txtMonHoc").val() != null ? $("#txtMonHoc").val().trim() : $("#txtMonHoc").val();
            var gioHoc = $("#txtGioHoc").val() != "" && $("#txtGioHoc").val() != null ? $("#txtGioHoc").val().trim() : $("#txtGioHoc").val();
            var tuNgay = $("#dateTuNgay").val() != "" ? $("#dateTuNgay").val().trim() : $("#dateTuNgay").val();
            var denNgay = $("#dateDenNgay").val() != "" ? $("#dateDenNgay").val().trim() : $("#dateDenNgay").val();
            var ngoaiGio = $('#cbxNgoaiGio').is(":checked") ? "T" : "";
            var tatCa = $('#cbxTatCa').is(":checked") ? "T" : "F";
            setTimeout(hideLoading, 2000);
            var actionUrl = '@Url.Action("ExportToExcel", "PhanCongGD")?lopHoc=' + lopHoc + '&monHoc=' + monHoc + '&gioHoc=' + gioHoc
                            + '&tuNgay=' + tuNgay + '&denNgay=' + denNgay + '&ngoaiGio=' + ngoaiGio + '&tatCa=' + tatCa;
            window.location.href = actionUrl;
        }

        function hideLoading() {
            changLoading(false);
        }

        function searchData() {
            var lopHoc = $("#txtLopHoc").val() != "" && $("#txtLopHoc").val() != null ? $("#txtLopHoc").val().trim() : $("#txtLopHoc").val();
            var monHoc = $("#txtMonHoc").val() != "" && $("#txtMonHoc").val() != null ? $("#txtMonHoc").val().trim() : $("#txtMonHoc").val();
            var gioHoc = $("#txtGioHoc").val() != "" && $("#txtGioHoc").val() != null ? $("#txtGioHoc").val().trim() : $("#txtGioHoc").val();
            var tuNgay = $("#dateTuNgay").val() != "" ? $("#dateTuNgay").val().trim() : $("#dateTuNgay").val();
            var denNgay = $("#dateDenNgay").val() != "" ? $("#dateDenNgay").val().trim() : $("#dateDenNgay").val();
            var ngoaiGio = $('#cbxNgoaiGio').is(":checked") ? "T" : "F";
            var tatCa = $('#cbxTatCa').is(":checked") ? "T" : "F";
            PhanCongGDDatatable(lopHoc, monHoc, gioHoc, tuNgay, denNgay, ngoaiGio, tatCa);
        }

        function PhanCongGDDatatable(lopHoc, monHoc, gioHoc, tuNgay, denNgay, ngoaiGio, tatCa) {
            dataTable = $("#danhSachGridView").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "searching": false,
                "destroy": true,
                "ordering": true,
                "responsive": true,
                "lengthChange": true,
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'Tất cả'],
                ],
                "ajax": {
                    "url": '/PhanCongGD/GetPhanCongGDTableData',
                    "type": "POST",
                    "data": { lopHoc: lopHoc, monHoc: monHoc, gioHoc: gioHoc, tuNgay: tuNgay, denNgay: denNgay, ngoaiGio: ngoaiGio, tatCa: tatCa },
                    "datatype": "json"
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/vi.json'
                },
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Ẩn/Hiện Cột'
                    },
                ],
                "columns": [
                    { "data": "MaLHMH", "name": "MaLHMH", "autoWidth": true, visible: false },
                    { "data": "MaLop", "name": "MaLop", "autoWidth": true },
                    { "data": "MaMH", "name": "MaMH", "autoWidth": true },
                    { "data": "MaGio", "name": "MaGio", "autoWidth": true },
                    { "data": "MoTa", "name": "MoTa", "autoWidth": true },
                    { "data": "NgayBD", "name": "NgayBD", "autoWidth": true },
                    { "data": "NgayKT", "name": "NgayKT", "autoWidth": true },
                    {
                        "data": "NgoaiGio", "name": "NgoaiGio", "autoWidth": true,
                        "render": function (data, type, full, row) {
                            var isNgoaiGio = full.NgoaiGio.trim();
                            if (isNgoaiGio == "T")
                                return "<span class='fa fa-check' style='color: #4b70dd;'></a>";
                            else
                                return "<span style='color: #e74a3b;font-size: 23px;font-weight: bold;'>x</a>";

                        },
                    },
                    {
                        "data": "MaGV", "name": "MaGV", "autoWidth": true,
                    },
                    {
                        "render": function (data, type, full, row) {
                            var id = full.MaLHMH.trim();
                            return "<a href='#' class='btn-xs btn-xs-primary' onclick=getPhanCongGD('" + id + "'); ><span class='fa fa-edit'></a>";
                        },
                        "orderable": false
                    },
                    {
                        "render": function (data, type, full, row) {
                            var id = full.MaLHMH.trim();
                            return "<a href='#' class='btn-xs btn-xs-danger' style='color: #e74a3b;' onclick=deletePhanCongGD('" + id + "'); ><span class='fa fa-trash'></a>";
                        },
                        "orderable": false
                    }
                ]
            });
        }

        function getPhanCongGD(id) {
            changLoading(true);
            $.get("/PhanCongGD/GetPhanCongGDPartial", { id: id }, function (res) {
                $("#phanCongGDModalBody").html(res);
                $("#phanCongGDModal").modal("show");
                changLoading(false);
            });
        }

        function getNewPhanCongGd() {
            window.location.href = '/PhanCongGD/GetPhanCongGD/';
        }

        function savePhanCongGD() {
            var modal = $("#phanCongGDModal");
            var form = $("form[name='phanCongGDForm']");
            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/PhanCongGD/SavePhanCongGD", data, function (res) {
                    var result = res.Message.split("|");
                    $("#lblMessage").html(result[1]);
                    $("#messageModal").modal("show");
                    if (result[0] == "S") {
                        modal.modal("hide");
                        dataTable.ajax.reload();
                    }
                });
            }
        }

        function deletePhanCongGD(id) {
            if (confirm("Bạn có muốn xóa dòng này?")) {
                $.get("/PhanCongGD/DeletePhanCongGD", { id: id }, function (res) {
                    $("#lblMessage").html(res.Message);
                    $("#messageModal").modal("show");
                    dataTable.ajax.reload();
                });
            }
        }

    </script>
}


