.create-gv {
    width: 1100px;
    height: 704px;
}

.body-tab {
    padding: 30px;
    padding-top: 50px;
}

.tab {
    display: flex;
    border-bottom: 1px solid #4e73df;
}

.body-item-tab {
    margin-left: 10px;
    display: flex;
    height: calc(100% + 10px);
}

.heder-tab {
    font-size: 15px;
    border: 1px solid transparent;
    border-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

.heder-tab:hover {
    color: #4e73df;
}

.heder-tab-active {
    border: 1px solid #4e73df;
    color: #4e73df;
    border-bottom: 0px;
    padding: 10px;
    background: white;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.heder-tab-active::before {
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0px;
    bottom: -2px;
}

.c-form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 40px !important;
}

#MaLoaiGV {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#icon-typr-gv {
    position: relative;
}

#icon-typr-gv::before {
    content: "";
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid;
    position: absolute;
    color: #7c7c7c;
    text-align: center;
    top: calc(50% - 7px);
    right: 30px;
}

#Sdtt::-webkit-outer-spin-button,
#Sdt::-webkit-inner-spin-button {
    -webkit-appearance: none;
}