@model QuanLyGiangDay.Models.EF.GiaoVien

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<div class="delete-gv">
    <div class="body-delete-gv c-box-show">
        <div class="c-icon-wanrning"></div>
        <div class="tile">Xác nhận xóa giáo viên&nbsp;
            <b> @Html.DisplayFor(model => model.TenGV)</b>&nbsp;?
        </div>
    </div>
</div>
