@model QuanLyGiangDay.Models.EF.GiaoVien

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<style>
    .modal-header {
        background: var(--warning);
    }

    #save-exampleModalCenter {
        background: var(--red);
        position: relative;
    }

        #save-exampleModalCenter::before {
            content: "Xóa";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--red);
            position: absolute;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }

        #save-exampleModalCenter:hover::before {
            background: red;
        }
</style>
<div class="delete-gv">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "body_detale_1_tabl" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="body-delete-gv c-box-show">
        <div class="c-icon-wanrning"></div>
        <div class="tile">
            Xác nhận xóa giáo viên&nbsp;
            <b> @Html.DisplayFor(model => model.TenGV)</b>&nbsp;?
        </div>
    </div>
</div>
