@model QuanLyGiangDay.Models.EF.GiaoVien

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<style>
    .modal-header {
        background: var(--warning);
    }
</style>
<div class="delete-gv">
    <div class="body-delete-gv c-box-show">
        <div class="c-icon-wanrning"></div>
        <div class="tile">
            Xác nhận xóa giáo viên&nbsp;
            <b> @Html.DisplayFor(model => model.TenGV)</b>&nbsp;?
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "body_detale_1_tabl" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-footer" style=" margin-top: 20px;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" style=" background: var(--red);">Xóa</button>
        </div>
    }
</div>
