@model QuanLyGiangDay.Models.EF.GiaoVien

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<style>
    #save-exampleModalCenter {
        display: none;
    }
</style>
<div class="infor-gv">
    <div class="body-infor-gv c-box-show">
        <div class="c-form-group">
            <label class="tile-gv control-label col-md-4">Tên Giáo Viên</label>
            <label class="col-md-8">
                @Html.DisplayFor(model => model.TenGV)
            </label>
        </div>
        <div class="c-form-group">
            <label class="tile-gv tile-gv control-label col-md-4">Email</label>
            <label class="col-md-8">
                @Html.DisplayFor(model => model.Email)
            </label>
        </div>
        <div class="c-form-group">
            <label class="tile-gv tile-gv control-label col-md-4">Số Điện Thoại</label>
            <label class="col-md-8">
                @Html.DisplayFor(model => model.Sdt)
            </label>
        </div>
        <div class="c-form-group">
            <label class="tile-gv tile-gv control-label col-md-4">Loại Giáo Viên</label>
            <label class="col-md-8">
                @Html.DisplayFor(model => model.LoaiGV.TenLoaiGV)
            </label>
        </div>
    </div>
</div>
<script src="~/Content/_share/js/QuanLyGiaoVien/Details.js"></script>
