@model QuanLyGiangDay.Models.EF.HocKy

@{
    ViewBag.Title = "Delete";
    Layout = null;
}
<style>
    .modal-header {
        background: var(--warning);
    }
</style>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="c-icon-wanrning"></div>
        <div class="tile" style="text-align:center;margin:20px">
            Xác nhận xóa giáo viên&nbsp;
            <b> @Html.DisplayFor(model => model.TenHK)</b>&nbsp;?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" style="background: var( --red); border: 1px solid var( --warning)">Xóa</button>
        </div>
    }
</div>
