@model QuanLyGiangDay.Models.EF.HocKy

@{
    ViewBag.Title = "Details";
    Layout = null;
}
<div>
    <dl class="dl-horizontal" style="text-align:center;font-size:20px" >
        <dt>
            Mã Học Kỳ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHK)
        </dd>

    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
</div>
